<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.mybatis.example.Blog" alias="blog" />
        <package name="com.example.mysql2es.mybatis.model"/>
    </typeAliases>

    <typeHandlers>
      <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                   javaType="com.example.mysql2es.mybatis.model.Enabled" />
    </typeHandlers>

    <!--<plugins>-->
      <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">

      </plugin>-->
      <!--<plugin interceptor="org.mybatis.plugin.ArtistFirstPlugin">
          <property name="plugin1" value="value1"/>
          <property name="plugin2" value="value2"/>
      </plugin>
      <plugin interceptor="org.mybatis.plugin.ArtistSecondPlugin">
        <property name="plugin1" value="value1"/>
        <property name="plugin2" value="value2"/>
      </plugin>-->
    <!--</plugins>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatistest?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="yuguangbao"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper class="org.mybatis.example.BlogMapper" />-->
        <mapper resource="mapper/BlogMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/RoleMapper.xml" />
        <mapper resource="mapper/PrivilegeMapper.xml" />
        <mapper resource="mapper/com/example/mysql2es/mybatis/xml/UsertestMapper.xml"/>
    </mappers>


</configuration>
