<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysql2es.mybatis.mapper.PrivilegeMapper">

    <resultMap id="privilegeMap" type="com.example.mysql2es.mybatis.model.SysPrivilege">
        <id property="id" column="id"/>
        <result property="privilegeName" column="privilege_name" />
        <result property="privilegeUrl" column="privilege_url" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="privilegeCols">
      id, privilege_name, privilege_url, create_time, update_time
    </sql>

    <sql id="tableName">
      sys_privilege
    </sql>

    <select id="selectPrivilegeById" resultMap="privilegeMap">
        <!--select <include refid="privilegeCols" />
        from <include refid="tableName" />
        where id = #{id}-->
      select <include refid="privilegeCols" />
      from sys_privilege
      where id = #{id}
    </select>

    <!-- 6.1.2.2 collection集合的嵌套映射-->
    <!-- 根据角色id获取所有的权限信息 -->
    <!--<select id="selectPrivilegeByRoleId" resultMap="privilegeMap">
        select
        sp.*
        from sys_privilege sp
        inner join sys_role_privilege srp on sp.id = srp.privilege_id
        where srp.role_id = #{roleId}
    </select>-->

</mapper>
